/* line 1, ../sass/AddContacts.scss */
.AddContacts {
  width: 100%;
  height: 100%;
  background: #f5f6f7;
  position: relative;
}
/* line 7, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox h3 {
  height: 34px;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  color: #333333;
  font-weight: normal;
  padding-left: 30px;
  margin-top: 5px;
  border-bottom: 1px solid #e1e2e6;
}
/* line 17, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchBox {
  position: relative;
  margin: 52px auto 60px;
  width: 418px;
  height: 38px;
  border: 1px solid #00aaff;
}
/* line 23, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchBox input {
  width: 299px;
  height: 38px;
  border: none;
  outline: none;
  padding: 0;
  padding-left: 40px;
  background: url(../../images/icon.png) no-repeat 15px center;
  font-size: 14px;
}
/* line 33, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchBox span {
  float: right;
  display: inline-block;
  width: 79px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  color: #fff;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  background: #00aaff;
}
/* line 44, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchBox span:hover {
  background: #009bf5;
  cursor: pointer;
}
/* line 49, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchBox p {
  position: absolute;
  top: 50px;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  color: red;
}
/* line 57, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox {
  padding: 0 20px;
}
/* line 59, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox h4 {
  height: 32px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #404040;
  font-weight: normal;
}
/* line 65, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox h4 a {
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #0099e5;
  text-decoration: none;
  margin-left: 30px;
}
/* line 73, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul {
  width: 100%;
  height: 365px;
  overflow: hidden;
  overflow-y: auto;
}
/* line 78, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
/* line 82, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
/* line 87, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul li {
  float: left;
  width: 206px;
  height: 52px;
  background: #fff;
  border: 1px solid #eaeced;
  padding: 23px 24px;
  margin: 0 8px 16px 8px;
  overflow: hidden;
  transition: all .3s linear .1s;
}
/* line 100, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul li:hover {
  box-shadow: 0px 5px 5px 0px rgba(4, 0, 0, 0.06);
}
/* line 103, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul li .imgHd {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}
/* line 110, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul li .imgHd img {
  width: 100%;
  height: 100%;
}
/* line 115, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul li .userInfo {
  float: left;
  width: 130px;
}
/* line 118, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul li .userInfo p {
  position: relative;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #333333;
  height: 20px;
  width: 100px;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 129, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul li .userInfo p i {
  display: inline-block;
  width: 11px;
  height: 11px;
}
/* line 134, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul li .userInfo p .w {
  background: url(../../images/w.png) no-repeat center;
}
/* line 137, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul li .userInfo p .m {
  background: url(../../images/m.png) no-repeat center;
}
/* line 141, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul li .userInfo span {
  display: inline-block;
  width: 58px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #dcdcdc;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  text-align: center;
  margin-top: 17px;
}
/* line 151, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul li .userInfo span img {
  margin-right: 3px;
}
/* line 155, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul li .userInfo .addProving {
  color: #b3b3b3;
  background-color: #f7f9fa;
  cursor: default;
  user-select: none;
}
/* line 161, ../sass/AddContacts.scss */
.AddContacts .AddContactsBox .AddContactsSerchListBox ul li .userInfo .addFriends {
  color: gray;
  background-color: rgba(0, 170, 255, 0);
  cursor: pointer;
}
