/* line 1, ../sass/RulePop.scss */
.RulePop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 8, ../sass/RulePop.scss */
.pop {
  position: absolute;
  min-width: 308px;
  min-height: 168px;
  max-width: 358px;
  max-height: 242px;
  border: 1px solid #1a1a1a;
  margin: 0 auto;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: #fff;
}
/* line 21, ../sass/RulePop.scss */
.pop h3 {
  position: relative;
  font-weight: normal;
  height: 37px;
  line-height: 37px;
  padding: 0 15px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #b3b5c7;
  background: #191b2e;
}
/* line 31, ../sass/RulePop.scss */
.pop h3 .close {
  float: right;
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-top: 13px;
  background: url(../../images/navBarClose.png) no-repeat center;
  cursor: pointer;
}
/* line 41, ../sass/RulePop.scss */
.pop .contMessage {
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #595959;
  text-align: center;
  height: 30px;
  margin-top: 45px;
}
/* line 48, ../sass/RulePop.scss */
.pop .contMessage i {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
/* line 54, ../sass/RulePop.scss */
.pop .contMessage span {
  position: relative;
  top: -9px;
  display: inline-block;
}
/* line 61, ../sass/RulePop.scss */
.pop .send i {
  background: url(../../images/send.png) no-repeat center;
}
/* line 66, ../sass/RulePop.scss */
.pop .del i, .pop .timeout i, .pop .other i {
  background: url(../../images/warn.png) no-repeat center;
}
/* line 70, ../sass/RulePop.scss */
.pop .box {
  text-align: center;
  margin: 40px 40px;
}
/* line 73, ../sass/RulePop.scss */
.pop .box a {
  display: inline-block;
  text-align: center;
  width: 122px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  text-decoration: none;
}
/* line 82, ../sass/RulePop.scss */
.pop .box a:first-child {
  color: white;
  background-image: -moz-linear-gradient(0deg, #0095ff 1%, #30f0f0 100%);
  background-image: linear-gradient(0deg, #0095ff 1%, #30f0f0 100%);
  background-image: -webkit-linear-gradient(0deg, #0095ff 1%, #30f0f0 100%);
  background-image: -ms-linear-gradient(0deg, #0095ff 1%, #30f0f0 100%);
}
/* line 88, ../sass/RulePop.scss */
.pop .box a:first-child:active {
  background-image: -moz-linear-gradient(0deg, #0677eb 1%, #01d9e7 100%);
  background-image: -webkit-linear-gradient(0deg, #0677eb 1%, #01d9e7 100%);
  background-image: -ms-linear-gradient(0deg, #0677eb 1%, #01d9e7 100%);
  background-image: linear-gradient(0deg, #0677eb 1%, #01d9e7 100%);
}
/* line 94, ../sass/RulePop.scss */
.pop .box a:first-child:hover {
  background-image: -moz-linear-gradient(0deg, #038bfe 1%, #08dde5 100%);
  background-image: -webkit-linear-gradient(0deg, #038bfe 1%, #08dde5 100%);
  background-image: -ms-linear-gradient(0deg, #038bfe 1%, #08dde5 100%);
  background-image: linear-gradient(0deg, #038bfe 1%, #08dde5 100%);
}
/* line 101, ../sass/RulePop.scss */
.pop .box a:last-child {
  background-color: white;
  border: 1px solid gainsboro;
  color: #595959;
  margin-left: 10px;
}
/* line 106, ../sass/RulePop.scss */
.pop .box a:last-child:hover {
  background-color: #f5f6f7;
}
/* line 109, ../sass/RulePop.scss */
.pop .box a:last-child:active {
  background-color: #edeff0;
}

/* line 116, ../sass/RulePop.scss */
.divMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
